/*
 * Corpora API
 *
 * API for managing and processing corpora
 *
 * The version of the OpenAPI document: 0.1.0
 *
 * Generated by: https://openapi-generator.tech
 */

use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;
use std::pin::Pin;
use std::sync::Arc;

use futures::Future;
use hyper;
use hyper_util::client::legacy::connect::Connect;

use super::request as __internal_request;
use super::{configuration, Error};
use crate::models;

pub struct PlanApiClient<C: Connect>
where
    C: Clone + std::marker::Send + Sync + 'static,
{
    configuration: Arc<configuration::Configuration<C>>,
}

impl<C: Connect> PlanApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    pub fn new(configuration: Arc<configuration::Configuration<C>>) -> PlanApiClient<C> {
        PlanApiClient { configuration }
    }
}

pub trait PlanApi: Send + Sync {
    fn get_issue(
        &self,
        issue_request_schema: models::IssueRequestSchema,
    ) -> Pin<Box<dyn Future<Output = Result<models::IssueSchema, Error>> + Send>>;
}

impl<C: Connect> PlanApi for PlanApiClient<C>
where
    C: Clone + std::marker::Send + Sync,
{
    #[allow(unused_mut)]
    fn get_issue(
        &self,
        issue_request_schema: models::IssueRequestSchema,
    ) -> Pin<Box<dyn Future<Output = Result<models::IssueSchema, Error>> + Send>> {
        let mut req = __internal_request::Request::new(
            hyper::Method::POST,
            "/api/corpora/plan/issue".to_string(),
        );
        req = req.with_body_param(issue_request_schema);

        req.execute(self.configuration.borrow())
    }
}
